<template>
    <div class="forgetPassword">
        <div>
            <label for="email">Email address </label>
            <input type="text" v-model="email" name="email" class="form-control" />
        </div>       
        <div class="form-group">
            <button class="btn btn-remind" @click="remindPassword">Send password reset link</button>
        </div>
        <div>{{message}}</div>
    </div>
</template>


<script>
    export default {
        name: 'forgetPassword', 
        data() {
            return {
                email: ''
            }
        }, 
        methods: {
            remindPassword() {
                return this.message = 'remindPassword';
            }
        }

    };
</script>

<style scoped>
</style>