<template>
    <div id="Login">
        <h2>Login</h2>
        <form @submit.prevent="handleSubmit">
            <div class="form-group">
                <label for="username">Username </label>
                <input type="text" v-model="username" name="username" class="form-control" />
                <div v-show="submitted && !username" class="invalid-feedback">Username is required</div>
            </div>
            <div class="form-group">
                <label htmlFor="password">Password </label>
                <input type="password" v-model="password" name="password" class="form-control" />
                <div v-show="submitted && !password" class="invalid-feedback">Password is required</div>
            </div>
            <router-link to="/remindPassword">
                Forgot your password?
            </router-link>
            <div class="form-group">
                <button class="btn btn-login" @click="login">Login</button>
            </div>
            <div v-if="submitted"> Login succesful for {{username}} </div>
            <router-view></router-view>

        </form>
    </div>
</template>

<script>
    /*import { EventBus } from './dataHandling/eventBus';*/
    /*import forgetPassword from './forgetPassword.vue';*/
    export default {
        name: 'Login',
/*        components: {
            forgetPassword: forgetPassword
        },*/
        data() {             
            return {
                username: '',
                submitted: false,
                password: ''
            }
        },
        /*created() {
            this.logout();
        },*/
        methods: {
            login() {
                if (this.username != "" && this.password != "") {
                    return this.submitted = true;
                }
            }
        }
            
    };
</script>

<style scoped>
</style>