<template>
    <div id="app">
        <router-link to="/"></router-link>
        <router-view></router-view>
    </div>
</template>

<script>
    import Login from './components/Login.vue';

    export default {
        name: 'app',
        components: {
           Login
        }
    };
</script>

<style>
</style>

